h1
{
color:blue;
font-style:italic;
border:2px dotted gray;
margin:auto;
width:600px;
padding:10px;
}
p
{
color:white;
border:1px dotted gray;
margin:auto;
padding:10px;
width:600px;
}
*
{
background-color:black;
margin:0px;

}
a
{
border:3px;
padding:3px;
background-color:black;
color:blue;
}
a.hover
{
color:red;
}
a
{
color:green;
}