h1
{
background-color:purple;
color:white;
width:80%;
margin:auto;
border-top:5px red solid; 
border-left:5px red solid;
border-right:10px black solid;
border-bottom:10px black solid;
padding:40px;
margin-right:60px;
margin-left:60px;
margin-top:60px;
text-align:center;
}
p
{


}