h1{
color:black;
font-size:25px;
text-align:Center;
}
.Div1{
border:1px solid black;

height:50%;
width:70%;
background-color:skyblue;
color:black;
margin:auto;
padding:10px;
text-align:center;
}
h3{
font-align:center;
color:blue;
font-style:italic;
}

.cont{
float:right;
width:30%;



}
.comm{
margin-left:40%;
width:30%;

float:left;

}


.Div4
{
width:100%;
line-height:20px;

}
