.Div1
{

font-family:Arial;
font-style:italic;
font-weight:200;
font-size:5px;
line-height:1.8em;
}
h1
{
font-family:serif;
font-style:italic;
text-align:center;
color:black;
font-weight:800;
font-size:20px;
}
