h1
{
background-color:gray;

margin:auto;
width:80%;
padding:10px;
}
p
{
background-color:green;
margin:auto;
width:80%;
padding:10px;
}
.Div2
{
background-color:pink;
width:80%;
box-shadow:5px 5px 5px ;

margin:auto;
}
.Div1
{

margin:auto;
display:block;
visibility:hidden;
}